/* 
  MY AWESOME PROJECT CSS!!! 
  DONT TOUCH PLS
*/

body {
    background-color: lime;
    background-image: linear-gradient(to bottom right, lime, magenta);
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    color: yellow;
    text-shadow: 2px 2px #000000;
    margin: 0;
    padding: 20px;
    border: 20px dashed blue;
    min-height: 100vh;
}

h1 {
    color: cyan;
    background-color: blue;
    padding: 10px;
    border: 5px double white;
    text-align: center;
    font-size: 3em;
    transform: rotate(-2deg);
}

.MainBox {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border: 10px ridge red;
    margin: 0 auto;
    width: 90%;
}

button {
    background-color: yellow;
    color: red;
    font-size: 1.5em;
    font-family: inherit;
    border: 5px solid purple;
    padding: 10px;
    margin: 5px;
    cursor: wait;
    /* lol */
    border-radius: 20px;
}

button:hover {
    background-color: orange;
    transform: scale(1.1) rotate(5deg);
}

input {
    font-size: 1.2em;
    border: 3px solid green;
    background: pink;
    color: blue;
}

#canvas-container {
    background-color: white;
    border: 10px dotted orange;
    display: grid;
    margin: 20px auto;
    width: fit-content;
}

.pixel {
    width: 20px;
    height: 20px;
    border: 1px solid #ddd;
    /* keeps grid visible */
}

.pixel:hover {
    border: 1px solid red;
}

.tools-area {
    background: purple;
    padding: 20px;
    border: 5px solid yellow;
    text-align: center;
    margin-bottom: 20px;
}




.gallery-thing {
    background: teal;
    color: white;
    padding: 10px;
    margin-top: 50px;
    border: 5px groove white;
}

marquee {
    background: black;
    color: lime;
    font-size: 1.5em;
    font-weight: bold;
}